.ownMessage {
  border-left: 2px solid orange;
  padding-left: 6px;
}
/* code {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
} */
